[2015-11-13 14:42] danielballan opened #1 "Suggestion about documentation"
I really like this! We will use at Brookhaven National Lab, where we are trying to lead staff scientists and visiting users (also scientists) to better software practices. Responding to [your tweet soliciting feedback](https://twitter.com/gvwilson/status/665134163478073344) I have a thought about this line:

I agree that full documentation is not a high priority when there are zero collaborators,

[2015-11-13 15:02] stephenturner opened #2 "papers: necessary to write in plain text"
Greg, I'm on the same page with you. I'd love it if all the biologists, physicians, and government contractors I worked with were as excited as we are about writing in Markdown under version control through GitHub.

But try explain the notion of _compiling_ a document to an overworked physician you collaborate with. Oh, but before that, you have to explain the difference between plain text and wor

[2015-11-13 17:08] noamross opened #3 "Metadata"
Not explicitly in the list so far is metadata, explaining the source of data, meaning of fields, who/where/when collected, etc.  There are lots of metadata standards 'good enough' practice in this area probably includes some accompanying data-specific README with prose explaining this information.

[2015-11-13 20:15] jennybc commented on #2
I think the first goal is for the master copy of the manuscript (or everything?) to live in the cloud. This eliminates some huge sources of crazy:
- Emailing of versions and the constant question: which version is "master"? is "master" even a well-defined concept any more? Often it is not.
- "Versioning" via filename.
- Inability to diff or track evolution.

So, yes, plain text on GitHub is one wa

[2015-11-13 20:18] jennybc commented on #2
I'd be happy to make a PR with this message if it's welcome?

[2015-11-13 20:24] gvwilson commented on #2
Yes please and thank you.

[2015-11-13 20:33] rmflight commented on #2
One possibility is also to compile markdown to Word using Pandoc, send, and then incorporate changes oneself. I haven't had to do that yet, but I am anticipating it happening sometime soon given the entrenchment of some of my collaborators in the Office workflow.

[2015-11-13 21:05] stephenturner commented on #2
@rmflight I've also considered this, but stopped short, wondering what I'd do when I get tracked changes from multiple coauthors back in a word document. Go back and hand-jam the changes into your Markdown source? The productivity you gained by using md->pdf is now lost, doubly.

[2015-11-13 21:28] rmflight commented on #2
@stephenturner Yeah, I'm not sure it will truly happen unless I can convince collabs to use simple Word files that can actually be converted back to md by pandoc and diffed. But I know I have at least one collab that I don't know if they can let go of Word.

[2015-11-14 15:11] jfsantos opened #4 "Expected outputs for arbitrary inputs"
One thing that I usually do and recommend that isn't as hard as as writing a full test suite is to keep a set of arbitrary inputs and their expected outputs (a "sanity check") with the code, even if this tests the whole software and not specific functions. This is not currently covered but I think it's easy enough to follow.

I'm not sure about a standardized way for doing this, but could be just

[2015-11-14 15:13] gvwilson opened #5 "Regarding documentation"
From Susan Miller:

Having had to return to my own undocumented or insufficiently documented projects after months or years have passed has convinced me that one should _always_ document so that someone else can understand projects. This would also be important in the event that a project unexpectedly has to be handed off to someone else.

[2015-11-14 17:52] PBarmby opened #6 "What's a result?"
I'd explicitly point out that figure files, when generated by a script, are results and should be version controlled. Same for data tables/files that are expected to go into or accompany a publication.

[2015-11-14 17:55] PBarmby commented on #5
Code-level documentation plus an overall project README is the bare minimum here, IMO. Detailed "cookbook" docs would be great but aren't going to happen in most cases.

[2015-11-14 17:58] PBarmby commented on #3
+1. Have seen too many text data files with no labels, references or anything else.

[2015-11-14 18:06] PBarmby opened #7 "Data formats"
The two bullets are fine but are missing an important cateogory of stuff that people compute with (eg, the images off your MRI scanner or telescope, the audio files from your bird-song catalog). Suggestion: add a third bullet with "raw data in specialized formats, where necessary".

[2015-11-14 18:06] PBarmby opened #8 "Need for backup - via GH or elsewhere"
Seems obvious but you can never be too obvious with this one.

[2015-11-14 18:13] PBarmby opened #9 "textual representation"
"Every analysis step is represented textually" -- by which you mean no analysis is done via point-and-click operations?

If so, while I agree that this is a worthy goal, I certainly know of situations where nobody has figured out how to automate a particular step of a process. Drawing "regions of interest" on medical images, or picking out the artifacts in astronomical images, are a couple of exam

[2015-11-15 05:47] gvwilson commented on #1
Thanks for the feedback - I've added a note in 5c95d5fc about the minimal documentation we can reasonably expect from people (a "what does this do?" at the head of each script).  Can you please have a look and let me know if you (dis)agree?

[2015-11-15 05:48] gvwilson commented on #2
I've incorporated this thread into 5c95d5fc by saying "either text in the repo, or a Google Doc with track changes" and clarified in the header that we're only recommending practices people will actually adopt. Can you please have a look and let me know if you agree?

[2015-11-15 05:48] gvwilson commented on #3
Added explicit requirement for metadata in 5c95d5fc - please let me know what you think.

[2015-11-15 05:50] gvwilson commented on #4
Thanks for the feedback - I added a note in 5c95d5fc to point out that Noble's paper _didn't_ have a requirement for tests of any kind, which says a lot about how much we can expect. Can you please have a look and let me know what you think?

[2015-11-15 05:50] gvwilson commented on #5
I've added a note about docs in 5c95d5fc - please let me know what you think.

[2015-11-15 05:50] gvwilson commented on #6
Good point - added in 5c95d5fc.

[2015-11-15 05:50] #6 closed, assigned to nobody

[2015-11-15 05:50] gvwilson commented on #7
Another good point - added in 5c95d5fc.

[2015-11-15 05:50] #7 closed, assigned to nobody

[2015-11-15 05:51] gvwilson commented on #8
Good point - added in 5c95d5fc. Thanks!

[2015-11-15 05:51] #8 closed, assigned to nobody

[2015-11-15 05:51] gvwilson commented on #9
I've added a note about this in 5c95d5fc, but it makes me a bit uncomfortable - can you please have a look and let me know what else we could reasonably expect of people?

[2015-11-15 14:16] jduckles commented on #3
The [Dublin Core](http://dublincore.org/documents/dces/) elements might be a good place to start as "good enough"

[2015-11-15 14:20] gvwilson commented on #3
I can't think of a single project I've touched in the last two years
that used Dublin Core, but maybe I just wasn't looking.

[2015-11-15 14:22] jduckles commented on #9
The data that come from an AOI selection with a GUI should still be a textual artifact in a 'good enough' practice. We aren't concerned so much with how the data came to be, but that we have it persisted.

Duplicating the weather that generated a temperature log timeseries isn't going to happen, but we have a log of it. I feel the same is true of hand-digitizing an AOI, we are concerned with the a

[2015-11-15 14:31] jduckles commented on #3
@gvwilson Which of these projects you speak of had **any** metadata standard associated with them?

[2015-11-15 14:39] gvwilson commented on #3
Nothing standard-compliant, but column headers with meaningful names and
units, and a separate CSV file documenting the origin of each actual
data file (URL, date downloaded, a couple of other things I never cared
about).

[2015-11-15 15:35] jfsantos commented on #4
I agree. I was thinking about projects structured for distribution and sharing with other researchers, but this document is more about a "solo", exploratory project structure.

[2015-11-15 15:52] #4 closed, assigned to nobody

[2015-11-15 16:20] jennybc commented on #2
I am happy with your wording and made some other comments on that commit.

But I still think the principle of using a distributed system might deserve more emphasis. And the main manuscript is one place where we're more willing to tolerate alternative implementations of this principle. Because it keeps all members of the collaborative team contributing productively.

[2015-11-15 16:41] jennybc opened #10 "Line endings and encoding"
This is an area of consistent agony for me, even when collaborating with people who have bought in to plain text, version control, distributed version control, etc. It is exacerbated when I have a collaborator who has never even heard of line endings or encoding.

Those plain text files we all love? If you've got people editing or even opening/closing them on different platforms, possibly with loc

[2015-11-15 17:50] naupaka commented on #10
Also especially problematic with Macs and exporting from Excel to CSV.

[2015-11-15 17:59] naupaka opened #11 "Ordering of topics"
One idea might be to order topics in terms of increasing complexity. Start with completely bare minimum practices, and then build to good enough. Instead of:

Version Control -> Data Management -> Software -> Papers -> Collaboration

what about (for example):

Data Management -> Software -> Papers -> Collaboration -> Version Control

The rationale is that if the data aren't preserved well, all att

[2015-11-15 20:28] jennybc commented on #10
Yes @naupaka that is Agony Number One!

Even a brief mention of these issues might be good to include. Just so people know they are not Doing It Wrong, if they require some set up re: plain text files and collaboration via distributed version control

[2015-11-16 17:01] danielballan commented on #1
I like the changes. Thanks again!

[2015-11-16 17:01] #1 closed, assigned to nobody

[2015-11-16 18:20] gvwilson commented on #2
See line 162 - good?

[2015-11-16 18:21] gvwilson commented on #3
Comment about Dublin Core and other standards included at line 178 - thoughts?

[2015-11-16 18:21] gvwilson commented on #9
See line 65++ of `index.md` - good?

[2015-11-16 18:21] gvwilson commented on #10
See line 139 ++

[2015-11-16 18:22] gvwilson commented on #11
Order changed as suggested - thanks.

[2015-11-16 18:22] #11 closed, assigned to nobody

[2015-11-16 19:05] jennybc commented on #10
My quote is under the Papers section, but applies as much or more to Data Management. That's where this hurts the most -- because unexpected changes to line endings and encoding can mess with machine readability.

[2015-11-16 19:50] jduckles commented on #9
Sure, works as a placeholder.

[2015-11-17 06:32] gvwilson commented on #10
Thanks - moved to the data management area.

[2015-11-17 06:32] #10 closed, assigned to nobody

[2015-11-17 06:32] #9 closed, assigned to nobody

[2015-11-17 06:33] #2 closed, assigned to nobody

[2015-11-17 11:37] swaldman3 opened #14 "Comments re data management"
As the "default" scenario, I agree that this section as it is is good advice. I think it needs to be acknowledged that there will be divergences that can still be good practice.

A few examples (not necessary for inclusion, they might be too much detail):
- Where a very large amount of data is being received, and it's received in a format that is unnecessarily storage-inefficient or computationall

[2015-11-17 11:59] BernhardKonrad opened #15 "Who is this written for?"
Maybe it could be clarified what kind of researcher is addressed here. If it's only me working away on my paper, the results of which I want to be reproducible in the end, then several of the suggested rules sound unreasonable restrictive. E.g. why would I need to track changes on my manuscript draft if it's only me editing anyway?

[2015-11-17 12:03] benmarwick opened #16 "relational theory vocabulary"
This looks like it's going to be the kind of paper that will be required reading for graduate students in many disciplines, which would be great.

Just a few small suggestions:
- I'm guessing that 'atomic values' has something to do with tidy data, but there's a risk that it might be skipped over by people not in nuclear engineering. Can it be replaced with something a bit more plain English?
- 'n

[2015-11-17 12:03] BernhardKonrad opened #17 "Testing?"
`"Tests pass"` is one of the requirements in the checklist before a merge can be done. What kind of tests? Unit tests are not on the list.

Side note: In order to `"merge"` you need branches, which are also not on the list. I suggest using `"commit"` instead.

[2015-11-17 12:12] rgaiacs opened #18 "Collaboration and TODO"
Instead of

we can have

[code]

I think that "things people really need to know" should go into `README`.

[2015-11-17 12:18] rgaiacs opened #19 "Version Control and sub-directories"
Replace

with

[code]

[2015-11-17 15:50] elliewix commented on #3
tl;dr:  metadata != readme != codebook.  Be clear about what type of metadata you are talking about.  Formal metadata usually covers just the dataset as a singleton item and is great, but not the complete picture that reusers need.  Formal metadata will not replace a good human readable readme file or a good codebook (if applicable).  Follow your research community's standards for how to write a g

[2015-11-17 15:52] beroe commented on #16
I totally agree about `atomic` and `normalized`

[2015-11-17 15:59] beroe opened #20 "Multiples"
Via email Maxime wrote:

I agree and would extend this to variables. The most common mistake I see is `score1 =`, `score2 =`, `score3 =`
This may be getting into the data containers discussion that was put on the "do. It mention" list at the end but I think is is a good enough guiding principle, and en easy sign that you are on the wrong track. Maybe could be folded in with the don't repeat functi

[2015-11-17 16:14] elliewix opened #21 "format preservation"
RE: data management items 1 and 2

"All raw data is stored in the format it came in (JPEG for photographs, WAV for birdsong recordings)"

This is a fine statement but not the complete story when dealing with proprietary formats.  Data items should be stored in both the original format (e.g. excel) but also an open format that will be supported in perpetuity (CSV/plain text), or at least able to be

[2015-11-17 16:17] elliewix opened #22 "machine readable documentation"
Sorry, it wouldn't just let me make a new issue.  Anyhow.

Re:  #6 in data mangagement

"""Metadata is stored explicitly in data as well
- Source(s) of data
- Meanings and units of fields
- Stored as data not as text (e.g., a CSV table of data descriptors, not paragraphs of prose)"""

These are good items, but the gist of "make things machine readable whenever possible" could be made more explicit

[2015-11-17 16:59] jkitzes opened #23 "What's actually going to be adopted"
Great start Greg - I think the paper meets a definite need.

I'm going to take the line at the top "The majority of our learners will actually adopt it after a workshop" seriously and literally, and go from there to a few different recommendations:

**Data Management**: Great, I think all reasonable and feasible

**Software**: Great, also all reasonable and feasible. Especially appreciate that the

[2015-11-17 20:14] mboisson opened #24 "Number of files"
- If you have tens of thousands of files (or more), you are probably doing it wrong. Look for archiving those files in chunks, or combining them in some way.

On a cluster, having tens of thousands of files will be a killer, but even on a personnal computer, it will make your data management a nightmare.
I have seen users who think that having 2.5M files in a directory is "ok"...

[2015-11-17 20:47] davidedelvento commented on #24
I will put emphasis on _probably_
While certainly at least some filesystems may have troubles with directories containing a "large" number of files, some other filesystems may be "ok". Moreover, in certain cases you simply don't have an option, or the option to consolidate these files is cumbersome enough.

So, I agree that if you have tens of thousands of files you are _probably_ doing it wrong a

[2015-11-17 20:50] davidedelvento opened #25 "What is "good enough"?"
I am not native English speaker, so I may be taking this totally wrong, however I feel compelled to give this feedback. To me "Good enough" does not sound right if I understand correctly the emphasis of this document.

Sufficient Practices (despite being said in the document that isn't exactly right) and Fair Practices sound better to me. But the one that sound best to me is **Minimal Practices**.

[2015-11-18 10:53] jttkim commented on #23
I think the practice of using version control for software should be kept. I appreciate that adopting it is onerous / causes cognitive load, but so does writing software itself. A researcher who has gotten themselves started with writing software of any description has, inevitably, also acquired some skills and mental models that will help them understand and adopt version control.

Regarding pape

[2015-11-18 17:29] npch opened #26 "Various comments"
Apologies for not adding to previously opened issues on various parts of the doc - it turns out that's quite a timeconsuming workflow as soon as there are several issues.

Should the Version Control and Collaboration sections be moved up to the top of the document? I looked at the data management section and thought - where's the "make sure you have a backup" - then found it later on in version co

[2015-11-18 19:30] ketch opened #27 "No commented code"
One of the most common and pernicious pitfalls of many novice programmers is that of using the comment/uncomment capability as a way to change programmatic options.  This quickly leads to confusion and bugs -- especially since it means that running the same command repeatedly on the same version of the code generates different results.  It also leads to scripts that are completely unintelligible a

[2015-11-19 01:08] npch commented on #26
Another thing I thought of that should be added:

"Give your software to someone else to look at and try every so often"

[2015-11-19 08:51] gvwilson commented on #24
Martin Bähr replies:

[code]

[2015-11-19 08:51] gvwilson commented on #24
Karin Lagesen replies:

[code]

[2015-11-19 14:45] lexnederbragt commented on #16
+1 for `atomic`, `normalized` and `submit data and code`

[2015-11-19 14:47] lexnederbragt commented on #17
I was wondering about the same thing. But is phrasing it as "The project repository contains a checklist of things that must pass before the _commit_ can be done" making sense?

[2015-11-19 14:55] lexnederbragt commented on #25
I liked "minimal" at first, but then I realised that it may give the impression of implying 'if you don't stick to these, you're doing it wrong', and thus be counterproductive.

[2015-11-19 14:59] lexnederbragt opened #28 "Ten Simple Rules for Reproducible Computational Research"
May I suggest this reference to be added to the list of sources of inspiration?

[Ten Simple Rules for Reproducible Computational Research](http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1003285)

[2015-11-19 15:17] BernhardKonrad commented on #17
Well, technically that's the correct wording.
I'm just not sure if that's what we want, because we surely want to encourage committing early and committing often. I don't know how to achieve the latter without branches or messing up `master`, so hopefully someone with experience from the days of CVS and Subversion can jump in here?

[2015-11-20 08:33] gvwilson commented on #3
See #29 - @elliewix @jduckles @PBarmby comments welcome.

[2015-11-20 08:33] #5 closed, assigned to nobody

[2015-11-20 08:40] gvwilson commented on #14
@swaldman3 please see #30.

[2015-11-20 08:46] gvwilson commented on #15
@BernhardKonrad please see #31.

[2015-11-20 08:53] gvwilson commented on #16
See #32 - @benmarwick @beroe @lexnederbragt comments welcome.

[2015-11-20 08:57] pdebuyl opened #33 "Do not store parameters in programs"
This is slightly related to #27 in that, often, several choices of parameters are proposed and commented out in the code. The consequence of this is that changing the value of a parameter results in a _non clean_ version control state.

The proper solutions are either to use parameter files or command-line parameters.

[2015-11-20 08:59] gvwilson commented on #17
Please see #34.

[2015-11-20 09:00] gvwilson commented on #18
The last note under "What's Not on This List" says "issue tracking" - it's nice to have, but people are more likely to keep a notes file up to date on solo projects.

[2015-11-20 09:00] #18 closed, assigned to nobody

[2015-11-20 09:03] gvwilson commented on #19
@rgaiacs please review #35.

[2015-11-20 09:12] gvwilson commented on #20
@beroe please review #36.

[2015-11-20 09:16] gvwilson commented on #21
Addressed in #30 - @elliewix please review.

[2015-11-20 09:20] gvwilson commented on #28
@lexnederbragt Please review #37.

[2015-11-20 09:26] gvwilson commented on #26
See #38 for comment on licensing, #39 for comment on saving things right away.

[2015-11-20 09:31] gvwilson commented on #26
Agree that the point-form outline is inconsistent in level and assumptions about readers' background - that'll all get cleaned up when it's turned into prose. (Help doing/checking will be welcome.)

[2015-11-20 09:35] gvwilson commented on #27
@ketch please review #40.

[2015-11-20 09:35] gvwilson commented on #33
@pdebuyl please review #40.

[2015-11-20 09:42] ketch commented on #33
+1.

[2015-11-20 09:51] lexnederbragt commented on #28
Addressed in #37

[2015-11-20 09:51] #28 closed, assigned to nobody

[2015-11-20 10:03] pdebuyl commented on #33
Solved in #40

[2015-11-20 10:03] #33 closed, assigned to nobody

[2015-11-20 11:12] BernhardKonrad commented on #15
Great, that helps. I'm still not convinced about the necessity to track the manuscript for a single author. In general I think these requirements are pretty high for being a minimum. I would gladly be convinced of the opposite.

[2015-11-20 11:18] gvwilson commented on #15
The reviews I'm getting on this outline, and the ease of doing
pre-commit review, convinces me.

[2015-11-20 11:20] BernhardKonrad commented on #15
Ok, that's because you have friends who care about and understand what you are writing. This intersection is often empty for, say, a grad student.

[2015-11-20 11:23] gvwilson commented on #15
Maybe if we provide better tools, we can help fix that :-)

[2015-11-20 11:23] BernhardKonrad opened #41 ""Papers" = "Manuscripts"?"
Maybe it's just me, but I'm confused when I read "Papers" because my first thought is "References". What the researcher is writing is not a "Paper" yet, so should it rather be called something else?
Ignore if I'm the only one who gets tripped up by the wording.

[2015-11-20 11:24] BernhardKonrad commented on #15
That would convince me :)

[2015-11-20 11:27] gvwilson commented on #41
Good point - what should we call it instead to make it clear that these
are the things the researcher is writing?

[2015-11-20 11:30] gvwilson commented on #15
@BernhardKonrad Please see #42.

[2015-11-20 12:26] pdebuyl commented on #15
Also, collaboration with your former self is important. Typically, I like to `git diff` my paper between first submitted and current versions. This allows to prepare a list of changes for the reply to referees, for instance.

[2015-11-20 15:06] elliewix commented on #21
Looks good!

[2015-11-20 19:04] BernhardKonrad commented on #41
Maybe as simple as "Paper drafts"?

[2015-11-20 19:04] #17 closed, assigned to nobody

[2015-11-20 19:38] pdebuyl commented on #41
Why not manuscripts?

[2015-11-21 09:36] #20 closed, assigned to nobody

[2015-11-21 09:37] #3 closed, assigned to nobody

[2015-11-21 09:37] #14 closed, assigned to nobody

[2015-11-21 09:37] #15 closed, assigned to nobody

[2015-11-21 09:37] #16 closed, assigned to nobody

[2015-11-21 09:38] #19 closed, assigned to nobody

[2015-11-21 09:38] #21 closed, assigned to nobody

[2015-11-21 09:38] #22 closed, assigned to nobody

[2015-11-21 09:38] #27 closed, assigned to nobody

[2015-11-21 09:40] gvwilson commented on #41
Fixed in def08b7

[2015-11-21 09:40] #41 closed, assigned to nobody

[2015-11-21 13:12] lexnederbragt opened #44 "Clarify motivation for the reader"
The outline is great, and covers a lot of ground. However, it is mainly concerned with the 'what and how', not so much with the 'why'. This is probably the intention anyways, but it would help the reader a lot to have a firm motivation behind all these things they read they 'should' implement. I feel it is especially difficult to motivate the use of version control, for example.

[2015-11-21 13:15] gvwilson commented on #44
Good point - how would you motivate the other practices?

[2015-11-21 15:23] jennybc commented on #25
I think the ["That'll do, pig." clip](https://www.youtube.com/watch?v=rjQtzV9IZ0Q) from the end of Babe captures the spirit. 🐖🐖🐖🐖🐖🐖

[2015-11-21 19:47] PBarmby commented on #44
motivating factors:

reproducibility: for Future You (when you get the referee's report a year from now), your lab-mates and collaborators (in case you leave the project), and (heaven forbid) the person who accuses you of making up your data.

efficiency: if data & files are stored in a standard way, Future You can come back to a project in 6 months and not have to spend 2 days figuring out what's

[2015-11-22 07:25] gvwilson commented on #44
#47 includes @PBarmby's points - how do we motivate other sections/practices?

[2015-11-22 10:59] gvwilson commented on #23
@jkitzes can you please have a look at the revised outline and let me know if it addresses your questions?

[2015-11-22 14:02] lexnederbragt commented on #44
Hehe, I had just started on such a PR myself. I added a motivation subheader at the beginning for each section, and made a subheader 'Practices' for the current text. I have now added these pieces here: https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/pull/47#issuecomment-158761836

[2015-11-22 17:40] gdevenyi opened #48 "Using other people's tools/code"
Something I run into with students in my group is their readiness to run and use the output of tools others have written without every reading or understanding the steps those tools take or why they take them.

Recently had one have to re-run over 1000 subjects through analysis because they used the wrong outputs from the preprocessing tools, rendering their results meaningless.

Perhaps there nee

[2015-11-23 06:02] gvwilson commented on #48
I agree in principle, but I'm not sure what we can say other than "be
careful" - what would you add and where?

[2015-11-23 07:49] lexnederbragt commented on #48
It's an interesting point. The current text has an emphasis on software written by the reader, not so much on a reader using someone else's software (which is how I and many of my colleagues do most of our analysis). Perhaps something under the 'Software' section that states "treat other's software as your you would your own: make sure you understand it and that it is doing what it is supposed to

[2015-11-24 08:03] tdda opened #51 "Assorted feedback"
1. I think the word you're looking for adequate. De minimis would be another. Though "good enough" is earthier.
2. The <title> element on your Github page is Favourites. This is extremely unhelpful.
3. Data management recommendation 3, second point. "Every record has a unique key so that it can be selected precisely." I'm not sure about this. You're advocating creating a unique key, if there isn't

[2015-11-24 17:31] jkitzes opened #53 "Start with why (the goals) before the what (the practices)"
As I look at the draft again in light of my previous comments in #23, I have a very broad comment that comes before my other specific recommendations, which is that there's no discussion (yet) of what the point of each of these practices are - we go right into what tools and practices are needed without describing what the outcome is that we're trying to generate.

For example we go right into ver

[2015-11-24 17:35] jkitzes commented on #23
@gvwilson, thanks. Relaxing the requirement for version control of manuscripts seems like a good start. Otherwise though I think my above comments still stand and haven't been addressed in the new draft (not that you have to necessarily! just throwing these ideas out there).

Before reading the below, I just created a new issue #53 whose resolution should probably come before this one, since it's

[2015-11-24 17:50] jkitzes commented on #53
Sorry, just realized this is at least partially a dupe with #44 and #47 - @gvwilson and @lexnederbragt, I'm happy to help there if desired, just let me know -

[2015-11-24 17:56] jkitzes commented on #23
(Should have mentioned - I'm happy to contribute text discussing the above if desired.)

[2015-11-24 18:23] beroe opened #54 "Final form of the paper?"
Is the current text an outline that will be filled in with paragraphs, or will the final manuscript be "introduced bullet point" style?

[2015-11-24 20:09] gvwilson commented on #54
It'll be turned into paragraphs.

[2015-11-24 20:30] gvwilson commented on #53
Sure - PRs with additions/changes are always welcome.

[2015-11-24 20:30] gvwilson commented on #23
PRs are always welcome.  Regarding version control, I'll make it clearer
that we're advocating its use in part so that the project can grow
without needing to retool.

[2015-11-24 20:39] pdebuyl commented on #25
"good enough" conveys the idea that the content of the article will be accessible and its recommendations feasible. It is very much in line with the intent of the article: +1

[2015-11-24 20:51] gvwilson commented on #25
Let's stick with "good enough".

[2015-11-24 20:51] #25 closed, assigned to nobody

[2015-11-24 20:52] jennybc commented on #25
You could even say this title is "good enough".

[2015-11-24 20:52] #26 closed, assigned to nobody

[2015-11-24 21:30] #54 closed, assigned to nobody

[2015-11-24 21:54] jkitzes commented on #23
Thanks, working on PR's now. I'm going to retract my comment on version control above in light of the caveat that manuscripts may not be included. On the second one, could you clarify for me why you think that Word is verboten but Google Docs is not? I'll either add some discussion describing the reason or make the change that allows it in some fashion.

[2015-11-24 22:45] jkitzes commented on #53
PR #56 adopts the already proposed strategy of adding a Goals section above the practices, rather than rewriting the practices.

[2015-11-24 22:45] #53 closed, assigned to nobody

[2015-11-25 11:38] #24 closed, assigned to nobody

[2015-11-25 11:39] #44 closed, assigned to nobody

[2015-11-25 17:24] jkitzes commented on #23
While I hope this will continue to be fleshed out as the manuscript moves from outline to text, the structure is in place as of ab6b17b44f77e4058238506d4b32ce070adce50e so I think we can close.

[2015-11-25 17:24] #23 closed, assigned to nobody

[2015-11-26 10:21] pdebuyl opened #58 "Audience - bis"
Hi,

I know that the audience issue has already been raised. I think that for further comments/pull requests on the current manuscript it would help to know whether there is a distinction between the audience of the manuscript itself and the audience of the recommendations or not.

What I mean: Is the paper supposed to be accessible _and_ attractive to the lambda scientist (i.e. one that does not

[2015-11-26 15:33] gvwilson commented on #58
This paper is intended for people who _aren't_ already believers.  I
hope that will become clearer as we expand the bullet points into prose
- right now, the goal is to converge on what practices we're recommending.

[2015-11-27 10:44] #58 closed, assigned to nobody

[2015-12-10 12:57] gvwilson commented on #48
@gdevenyi any thoughts on wording?

[2015-12-11 14:11] gvwilson opened #60 "Fill in section on version control"
Like the title says...

[2015-12-11 14:11] gvwilson opened #61 "Fill in section on what's not included in this list"

[2015-12-11 15:32] gvwilson opened #62 "Fill in section on manuscripts"

[2015-12-11 16:06] gvwilson opened #63 "Fill in section on data management"

[2015-12-11 16:07] jennybc commented on #63
First draft by Jan 8.

[2015-12-11 18:25] gvwilson opened #64 "Fill in section on project organization"

[2016-01-06 20:18] jkitzes commented on #64
I'm still with the family on vacation and didn't get to this before leaving, so it's likely I'll have it at the end of next week -

[2016-01-06 20:20] gvwilson commented on #64
Sure - hope you're having a good time with family.

[2016-01-08 08:46] lexnederbragt commented on #62
See #67

[2016-01-28 17:27] kcranston commented on #60
See PR #66

[2016-01-28 17:27] #60 closed, assigned to kcranston

[2016-02-03 12:26] #61 closed, assigned to gvwilson

[2016-02-05 17:36] jkitzes opened #71 "Idea for title"
I know that we floated a few ideas for the title of the manuscript a while back, particularly the implications of the phrase "Good Enough" - this morning I had the idea that we might consider "Pretty Good Practices for Scientific Computing" (of course making a small pun on the other PGP). Just a thought, not wedded to it.

[2016-02-05 17:45] beroe commented on #71
I don't have a big problem with "Good enough" but if it does change I like this alternative. Nice!

[2016-02-07 09:29] jennybc commented on #71
I like "good enough" and I like "pretty good".

[2016-02-08 08:08] lexnederbragt commented on #71
I would still argue for ‘Good enough’ on the grounds that the paper wants to confer the message that the ‘Best practices’ from the corresponding paper may be out of reach to some, so here are a set of ‘Good enough’ practices that should be reachable for all those that want to make the effort. ‘Pretty good’ practices then sounds to me less appealing for the intended audience.

[2016-02-08 19:03] #62 closed, assigned to lexnederbragt

[2016-02-08 19:04] #63 closed, assigned to jennybc

[2016-02-08 19:04] #64 closed, assigned to jkitzes

[2016-03-04 19:01] beroe opened #75 "Comment format?"
Is there a preferred format for in-line notes in this document.  Stack overflowing for "Comments in Markdown" leads to many non-universal optionss.

[2016-03-04 19:16] gvwilson commented on #75
Markdown doesn't have a standard comment syntax, so please just throw in
lines starting with "FIXME:".

[2016-03-04 19:43] jkitzes commented on #75
Presuming that this document will either end up as HTML itself or submitted to a journal that require something like Word (which probably means using pandoc for conversion), I think HTML format comments would make the most sense, if we wanted to go that way.

[2016-03-04 21:45] gvwilson commented on #75
I think the question is about what we can put in the doc now (when it's
in Markdown) as comments - as far as I can tell, there isn't a standard
commenting format.

[2016-03-04 21:49] jkitzes commented on #75
Yes, I did follow that, and agreed about the lack of a standard. I was just suggesting that if we wanted to pick one format to use at this point in the Markdown doc, HTML would make sense, since pandoc will consider it a comment and hence ignore it when converting to Word, pdf, or HTML (and I imagine we are likely to have to perform this conversion at some point before submission).

[2016-03-05 07:31] beroe commented on #75
We used `` in a collaborative document that was piped through Pandoc and it seemed to work OK. Doesn't get rendered by GitHub AFAICT, but that is OK, I think?
I can use FIXME: as well. I was thinking of inline comments, but they don't have to be so...

[2016-03-05 07:41] #75 closed, assigned to nobody

[2016-03-05 07:47] beroe opened #76 "GitHub UI: Propose file change.. where do those go?"
I made some edits earlier through the GitHub web UI, and clicked "Propose File Change" but stopped short of an actual Pull request. I was going to resume editing and wanted to start from that previous version, but don't see it...? In my github account there is a fork of the proje, but it is the original version w/o my changes.

[2016-03-05 11:37] gvwilson commented on #76
I don't know - after our experiences using the GitHub web UI for editing during instructor training 12 months ago, I've given up on it.

[2016-03-07 08:31] lexnederbragt commented on #76
Maybe your changes are on another branch in your fork?

[2016-03-07 13:08] arjunrajlab opened #77 "A few quick thoughts"
Hi all,

Been emailing back and forth with Greg a bit, and he kindly pointed me to this document, which is really great! I have yet to go through it in great detail, but here are a few quick thoughts:
1. It might be really helpful to have an actual example (from, e.g., molecular biology and other fields) of a reproducible paper.  I have several such examples that I’d be happy to share.  This might

[2016-03-07 20:37] jennybc commented on #77
Thanks @arjunrajlab!

We are explicitly trying (aren't we, coauthors?) to NOT be dogmatic about version control for manuscript management. We mention it but also present Google Docs as a viable approach. It's true we express a preference for version control in the Git sense, over Google Docs.

Your input is very helpful.

[2016-03-08 01:57] arjunrajlab commented on #77
Cool, I think people will appreciate not being dogmatic about version control for manuscripts. What I think would be helpful would be some _rationale_ for even the preference of version control over Google Docs. I'm totally willing to be convinced, but it will require convincing.

Indeed, I bring this up because I think in general that examples that provide motivation for the prescriptions given h

[2016-03-11 05:16] jennybc opened #83 "Clarify data tidying"
See #82 for a proposed change that shows where I am being confusing. Also consider if we will have any figs, as data tidying would be a good occasion for one.

[2016-03-12 23:01] gvwilson commented on #76
I've merged your edits - thanks!

[2016-03-12 23:01] #76 closed, assigned to nobody

[2016-03-24 17:17] jkitzes opened #86 "Computationally competent"
Putting this short note here, for lack of anywhere else obvious to put it. In the current draft, the footnote to the phrase "computationally competent" describes why that phrase was chosen, but not what it _is_. I was expecting this footnote to provide a longer discussion of what this means, perhaps with examples. Circularly, of course, someone computationally competent is someone who does what's

[2016-03-28 13:20] kcranston commented on #71
I like either one. If I had to make a choice, I would stick with 'Good enough' (and I have a hard time passing over a good pun). Given a Good / Better / Best scale - 'Good enough' sounds like practices that are at least Good, while 'Pretty good' makes me think that we might be dipping into not-quite-good territory.

[2016-04-09 11:50] beroe opened #88 "Source code not in with data"
I am having an issue with my grad student putting copies of scripts in his data folders to keep everything "together". I would like to add a specific caveat against this potentially common practice, which has the dangers of _source code proliferation_ (which copy am I editing vs which one am I running?) and also makes version control difficult/impossible without extensive use of `.gitignore`. (The

[2016-04-09 11:53] beroe opened #89 "Make issue titles explicit"
It is really hard to search for particular issues, or to know what an open/closed issue is about if it has a generic title like `My Feedback`. Please include some level of detail in your title. KTHXBYE

[2016-04-09 12:01] beroe opened #90 "Manual version control. What to recommend?"
I am still having an "issue" with [this commit](https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/commit/2676175f0a009014c76e72442a500fc535bee32f) and would like to re-open the discussion of whether we recommend manual version control and in what detail.

My student started organizing his digital lab notebooks and source code into dated folders. Each week he creates a ne

[2016-04-09 12:14] gvwilson commented on #90
@jkitzes and I are going to rewrite the manuscript and version control sections in parallel over the next couple of days to address this - we'd be grateful if you'd look at the changes and tell us if they address this.

[2016-04-11 16:51] jkitzes commented on #88
The current project organization section definitely recommends different subdirectories for code and data - is there something beyond the current recommendation that you'd suggest?

[2016-04-11 17:07] beroe commented on #88
It is definitely implicit there, but I was hoping for an explicit statement NOT to do that.

[2016-04-11 17:25] beroe opened #93 "Authorship order"
I propose that Greg be put as first author, as he is too deferential to put himself first. Rationale is found [here](https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/graphs/contributors)

[2016-04-11 17:35] gvwilson commented on #93
Thank you, but I decline - it's someone else's turn.

[2016-04-11 17:44] jkitzes commented on #93
Despite Greg's protestations, I'm going to second the original idea. Unfortunately for you, Greg, you've still done most of the work here, and you can't hide from the credit so easily!

Seriously though, I understand the idea of giving someone else a turn, which is appropriate when we step up and genuinely take a turn. But this was your seed idea and your work more than anyone elses, and I think t

[2016-04-11 19:30] kcranston commented on #93
Agree - Greg definitely did far more than the rest of us on this one.

On Mon, Apr 11, 2016 at 1:44 PM Justin Kitzes notifications@github.com
wrote:

[2016-04-11 22:53] tracykteal commented on #93
As someone watching the commits go by, I also agree that Greg should be first. Also, I haven't done anything other than lurk on this paper, so unless there's something significant that you would still want me to do, I shouldn't be on the author list.

[2016-04-12 07:57] lexnederbragt commented on #93
Not completely fair, but still: https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/blame/gh-pages/index.md

[2016-04-14 20:52] gvwilson opened #95 "Comments on version control from #92"
Moved here from #92 so they don't get lost:

Re: what we really need from (in)formal VC: [1] assurance you could get back to previous version if really needed to; [2] sane coordination of edits from multiple people.

Re: VC coming from s/w world. And this is sort of why it sucks, esp. at first. Many of us are making "off-label" use of formal VC systems. 95% of the features aren't needed but clog u

[2016-04-14 20:56] jennybc commented on #95
Adding point [0] re: what people need from VC (formal or not): a working definition of "previous version". For the "suffix-with-date-and-initials" crowd, that is whenever they change the filename. For the Google Doc or DropBox crowd that is (would be good to articulate). For the Git crowd, that's a commit.

[2016-04-15 07:17] lexnederbragt commented on #95
For the Google Doc or DropBox crowd that is whatever that application decides is a version you can go back to - they are only timestamped and I don't think it is transparent when a new version is saved. Plus they don't always go back more than X versions or Y days/months.

[2016-04-15 07:27] jennybc commented on #95
@lexnederbragt W/o really meaning to, I think this points out one of the problems with DropBox, at least and possibly Google Docs. You can look at revisions for Google Docs but I don't think user gets to declare "this is a version I might want to return to". I have no idea how Google Docs decides to bundle a group of edits together and create a revision.

[2016-04-15 10:50] lexnederbragt commented on #95
@jennybc Exactly!

[2016-04-15 15:33] jkitzes commented on #71
I'll go ahead and close this, as I think "Good Enough" has the votes and the momentum -

[2016-04-15 15:33] #71 closed, assigned to nobody

[2016-04-18 16:35] #90 closed, assigned to nobody

[2016-04-18 16:35] #89 closed, assigned to nobody

[2016-04-18 16:36] #93 closed, assigned to nobody

[2016-04-18 16:38] gvwilson commented on #86
Closed by 52adea4

[2016-04-18 16:38] #86 closed, assigned to nobody

[2016-04-18 16:38] #48 closed, assigned to nobody

[2016-04-18 16:43] gvwilson commented on #51
- Comment on unique keys addressed in 5a85d6a
- Comment on eye-rolling addressed in a5f43f5

[2016-04-18 16:50] #51 closed, assigned to nobody

[2016-04-18 16:54] gvwilson commented on #77
- Point 2 addressed in ff9eaba
- Others have already been addressed (except citing examples).

[2016-04-18 16:54] #77 closed, assigned to nobody

[2016-04-18 16:58] #83 closed, assigned to jennybc

[2016-04-18 16:58] gvwilson commented on #88
Please check the latest version (generated PDF).

[2016-04-18 16:58] #88 closed, assigned to nobody

[2016-04-18 17:02] gvwilson commented on #95
Addressed in 50310a0

[2016-04-18 17:02] #95 closed, assigned to nobody

[2016-04-22 11:14] lexnederbragt opened #96 "Balancing lengths of sections"
1 530
2 1436
3 881
4 818
5 1081
6 2086
7 1096
8 910

6, Version control, and perhaps 2, Data management, are significantly longer than the others. Readability would benefit from a more balanced length distribution, i.e. shrink sections 2 and 6

[2016-04-22 11:22] lexnederbragt opened #97 "Redundant references to 'future self'"
The 'your most important collaborator is your future self' argument appears three (four) times in different forms:
- in the Introduction (2 times)
- at the end of the Collaboration section
- in Version control

One repetition is probably OK, but now it seems redundant

[2016-04-22 11:23] lexnederbragt opened #98 "Add brief overview at end of introduction"
At the end of the introduction, add a really brief overview of the remaining sections.

[2016-04-22 11:24] lexnederbragt opened #99 "Argue for machine-readability"
Machine-readablilty (of metadata etc) is mentioned several times, but it is not really argued for why it is necessary.

[2016-04-22 11:30] lexnederbragt opened #100 "Explain jargon"
I am not sure our target audience all understand:
- NA's (Data Management)
- file encodings (Data Management)
- software libraries (Software)

[2016-04-22 11:35] lexnederbragt opened #101 "Improving 'Create analysis-friendly data' part"
The two strategies ([this line](https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/blob/gh-pages/good-enough-practices-for-scientific-computing.tex#L187) and [this line](https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/blob/gh-pages/good-enough-practices-for-scientific-computing.tex#L196)) could really benefit from an example, tables 'before an

[2016-04-22 11:40] lexnederbragt opened #102 "generate_images.py description discrepancies"
I suspect something is wrong. For example,  `-f p_flaws` in the command and `-n p_flaws` in the description. Same for `rand_seed`.

([line link](https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/blob/gh-pages/good-enough-practices-for-scientific-computing.tex#L337))

[2016-04-22 11:43] lexnederbragt opened #103 "Orwell's Sixth Rule"
I don't see why this is relevant advice for writing software, but that may be just me.

[2016-04-22 11:45] lexnederbragt opened #104 "Textual representation of analysis steps"
I'm not sure I completely follow this, i.e. I can't come up with a good example myself. What am I missing?

[2016-04-22 11:46] lexnederbragt opened #105 "Remove 'Logging'"
[Line link](https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/blob/gh-pages/good-enough-practices-for-scientific-computing.tex#L411)

I think this is too specialised for the 'good-enough' paper.

[2016-04-22 11:51] lexnederbragt opened #106 "Screwdriver metaphor doesn't work"
[Line link](https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/blob/gh-pages/good-enough-practices-for-scientific-computing.tex#L875)

The argument is that the tool (version control) is too complex for the task. The metaphor doesn't really say that I think. Using a sledgehammer to hammer in a nail would be better. Does the English language have a more appropriate metaphor

[2016-04-22 11:55] lexnederbragt opened #107 "Version control rules"
The end of the version control part has a set of exceptions, starting from

They could be considered rules for the entire section 6 (also for the manual strategy), but then they need to be moved and slightly rewritten (`commit message` becomes `commit message or changelog entry`, for example).

[2016-04-22 11:56] lexnederbragt opened #108 "Move 'diffing' up"
Diffing is mentioned at the very end of the version control section, but I consider it a crucial aspect of it. It deserves to be mentioned earlier on.

[2016-04-22 12:02] lexnederbragt opened #109 "Add reference to Raj's blog post"
The link to http://rajlaboratory.blogspot.no/2016/03/from-over-reproducibility-to.html is missing.

[2016-04-24 11:25] gvwilson opened #112 "Add reference to Leek's advice on writing"
http://simplystatistics.org/2016/04/21/writing/

Recommends Google Docs + PaperPile

[2016-04-25 20:51] beroe opened #113 "simplify arg parsing example"
I feel like the `fuzzing` example arguments are unnecessarily obfuscatory. Something simple (even if less realistic) would be preferred, like `-r  : radius in cm` etc.

[2016-04-25 21:54] beroe opened #114 "Organization, particularly Discussion sections, is inconsistent"
Some sections have Discussion subheadings and some don't and it is not totally clear why. Also in Version Control the Discussion section does not come last, but is followed by the When is VC not Necessary section. For scanning through a multi-page document, having multiple Discussion sections could be confusing.

[2016-04-25 21:58] beroe opened #115 "Add overview or summary of recommendations"
Like with the Best Practices paper, it would be useful to have a numbered table of the recommendations in one line each, or as sub-heads.

Also, within the sections the lists of points are inconsistent, with some numbered and some just bulleted.

[2016-05-16 13:46] tracykteal opened #116 "Reviewing and making text consistent throughout on Wednesday 5-18"
On Wednesday (5/18), I'll be going through all the text to make it in one consistent voice. If you have any changes you'd like to make before then, please do. I'll put out a note that I'm 'locking' the text for the day (subversion style?) and then I'll PR the updated version.

[2016-05-16 13:51] gvwilson commented on #116
+100

[2016-05-28 16:32] tracykteal commented on #116
I read through the paper and I'll attach my handwritten notes. There is a lot of great information in this paper! Having not been involved in the initial discussion about what the goals of the paper are, who the audience is and what wanted to be included, I talked with Greg, and I'm not the best person to be making those decisions now. I wanted to add my comments though if they would be helpful.

[2016-05-28 16:40] tracykteal commented on #116
Hand written comments
[Tracy_notes.pdf](https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/files/287798/Tracy_notes.pdf)

https://drive.google.com/open?id=0B6m0487UGPkgV0NuNVY0VUZlYzg

[2016-05-30 12:55] gvwilson opened #117 "Describe linking figures in Word documents"
From @pipitone: a halfway step to reproducibility is to use links rather than embedding for images, so that the Word doc automatically updates as figures are changed.

[2016-05-30 12:55] gvwilson opened #118 "Remove discussion of author disagreement"
From @tracykteal: saying that the authors disagree is unnecessary and weakens the recommendations.

[2016-05-30 12:57] gvwilson opened #119 "Adding more references"
From @tracykteal: pull in references from http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1002303 and elsewhere

[2016-05-30 14:36] pipitone commented on #117
For tables we don't have the same capability of linking, so what we suggested in the workshop was to use R packages (eg stargazer and xtable) to generate the final table from the data and then copy-and-paste from html rendered by the browser (this is also wha stargazer recommends). Not ideal but less error prone than tweaking by hand and easier to transition to rmarkdown/knitr/latex docs.

[2016-05-30 19:18] beroe commented on #117
This may be a good idea in general but I think it is a bit too specific and esoteric for this particular document...

[2016-06-07 20:22] #118 closed, assigned to gvwilson

[2016-06-07 20:22] #117 closed, assigned to gvwilson

[2016-07-06 14:00] #96 closed, assigned to nobody

[2016-07-06 14:01] #97 closed, assigned to nobody

[2016-07-06 14:01] #103 closed, assigned to nobody

[2016-07-06 14:01] #104 closed, assigned to nobody

[2016-07-06 14:01] #105 closed, assigned to nobody

[2016-07-06 14:01] #106 closed, assigned to nobody

[2016-07-06 14:01] #109 closed, assigned to nobody

[2016-07-06 14:01] #114 closed, assigned to nobody

[2016-07-06 14:01] #116 closed, assigned to nobody

[2016-07-06 14:05] gvwilson commented on #115
See #98.

[2016-07-07 07:09] lexnederbragt commented on #101
Could the [Data Carpentry spreadsheet lesson](http://www.datacarpentry.org/spreadsheet-ecology-lesson/) be used, or serve as inspiration? E.g. see screenshots in http://www.datacarpentry.org/spreadsheet-ecology-lesson/01-format-data.html

[2016-07-07 07:13] lexnederbragt commented on #107
This section changed along the way, and I think this issue is addressed already. The final part is addressed in #125.

[2016-07-09 01:55] jennybc commented on #96
This agrees with my self-admission to being wordy.

[2016-07-09 01:59] gvwilson commented on #96
Current:
1. Intro: 304
2. Data Management: 1703
3. Software: 826
4. Collaboration: 713
5. Project Management: 1130
6. Version Control: 1777
7. Manuscripts: 1280
8. What We Left Out: 850

[2016-07-09 02:47] beroe commented on #96
Assuming you want to resolve this by trimming, and not expanding?
-Steve

----- q•b -----

[2016-07-11 14:32] lexnederbragt commented on #100
Thanks @jkitzes!

[2016-07-11 14:32] #100 closed, assigned to jkitzes

[2016-07-11 14:36] lexnederbragt opened #128 "Footnote url in frame does not appear as footnote"
The

in the OpenRefine frame does not make the url appear as a footnote.

[2016-07-19 13:07] #98 closed, assigned to jennybc

[2016-07-19 13:07] #101 closed, assigned to kcranston

[2016-07-19 13:07] #107 closed, assigned to lexnederbragt

[2016-07-19 13:07] #108 closed, assigned to tracykteal

[2016-07-19 13:07] #113 closed, assigned to jennybc

[2016-07-21 02:31] gvwilson commented on #128
Now using quotations.

[2016-07-21 02:31] #128 closed, assigned to nobody

[2016-07-22 16:02] gvwilson opened #133 "Ask communitiy for feedback?"
Please vote by commenting on this issue, or by using the emoji "thumbs up" or "thumbs down".

[2016-07-22 16:07] jennybc commented on #133
I would still like to have a crack at the remaining sections. It will go way faster than data management, for which I felt very responsible. But then YES.

[2016-07-22 16:21] jkitzes commented on #133
I'm somewhat ambivalent - always good to get feedback of course, but on the other hand I think that the current manuscript is very much "good enough" and that additional feedback is more likely to lead to us making changes that take us in circles rather than moving the paper forward (and I suspect any forward motion would be minor). But you never know...

[2016-07-22 17:53] jennybc commented on #133
@jkitzes has a good point. We are already a large author group and have been getting community input along the way.

[2016-07-22 19:33] kcranston commented on #133
Contrary to my usual 'yes, of course!' stance on community input, I lean towards not sending this out for feedback. We have had input along the way, and I worry about opening up a can of worms about 'best' vs 'good enough' practices (i.e. arguments about including all of the practices that much of the SWC community uses every day but are too high a bar for newcomers).

[2016-07-23 08:07] beroe commented on #133
Karen has a good point (and +1 for slipping "newcomer" in there)

[2016-07-23 14:30] jennybc commented on #133
I hereby retract my original 👍. As a compromise, do we perhaps want to ask 1 or 2 specific individuals to read the whole thing with fresh eyes?

[2016-07-23 14:47] kcranston commented on #115
Addressed by #129

[2016-07-23 14:47] #115 closed, assigned to lexnederbragt

[2016-07-24 21:54] gvwilson commented on #133
It appears the consensus is :-1:, so I'll close this.

[2016-07-24 21:54] #133 closed, assigned to nobody

[2016-07-26 13:50] gcapes opened #135 "Manuscripts section 90% vs other 90%"
There are two mentions of 90% in section 7 on manuscripts. Should one of them read 10%?

[2016-07-26 13:53] gvwilson commented on #135
Nope - it's an old joke ("doing the research is the first 90%; writing up is the other 90%").  I'm pushing a clarification now.

[2016-07-26 13:53] #135 closed, assigned to nobody

[2016-07-27 07:45] gcapes commented on #135
Good stuff - I wasn't sure if it was a joke or not!

[2016-08-01 08:18] #102 closed, assigned to gvwilson

[2016-08-01 10:53] lexnederbragt opened #138 "Clarify 'make each row an observation'"
I don't really understand that last sentence...

[2016-08-01 12:01] jennybc commented on #138
Are we going to have any diagrams? Because something like this would help immensely here. This is borrowed from slides by @garrettgman and I suspect we can either get permission to use it or some equivalent.

<img width="651" alt="screen shot 2016-08-01 at 6 58 22 am" src="https://cloud.githubusercontent.com/assets/599454/17293385/9e43934a-57b5-11e6-930a-6b8dd8c03a73.png">

The right hand version

[2016-08-01 12:56] lexnederbragt commented on #138
Lovin' it! I would swap the figures, though. Are more examples possible? I previously suggested looking at [Data Carpentry's spreadsheet lesson](http://www.datacarpentry.org/spreadsheet-ecology-lesson/), in particular http://www.datacarpentry.org/spreadsheet-ecology-lesson/01-format-data.html (and maybe http://www.datacarpentry.org/spreadsheet-ecology-lesson/02-common-mistakes.html).

[2016-08-01 20:14] jennybc commented on #138
Are there other diagrams or potential diagrams? If we're good with the general idea, I'll take responsibility for making or getting something like the above (yes @lexnederbragt you're correct about some optimization still being possible).

[2016-08-01 20:16] jennybc commented on #138
Re: the spreadsheet lesson. I just taught from that!

I think it's OK to keep a wide spreadsheet -- sometimes it really is easier for data entry and inspection. And then use your analytical tool to reshape. So I'd like to word this in such a way that either is OK but you need to be aware of the different formats and get facile in some way of moving between them.

[2016-08-02 14:07] garrettgman commented on #138
Hi guys,

There are more diagrams like Jenny's first example (and Jenny's example as
well) sprinkled throughout this online chapter:

http://r4ds.had.co.nz/tidy-data.html

Garrett

On Mon, Aug 1, 2016 at 4:16 PM, Jennifer (Jenny) Bryan <
notifications@github.com> wrote:

[2016-08-03 22:00] gvwilson commented on #138
Who'd like to push this over the line?

[2016-08-04 10:53] #112 closed, assigned to gvwilson

[2016-08-04 10:53] #119 closed, assigned to kcranston

[2016-08-04 11:13] lexnederbragt commented on #99
Fixed in #137.

[2016-08-04 11:13] #99 closed, assigned to kcranston

[2016-08-06 21:37] jennybc commented on #138
I can complete this.

@garrettgman Is it easy to provide source that would allow me to make diagrams like yours but swap left and right and match an existing example of ours exactly? I would probably make something like this in Keynote, like an animal. But I can certainly do that!

Or ... I could provide excruciating detail on what I'd like and you could make one diagram for us? We'd of course ack

[2016-08-08 12:37] garrettgman commented on #138
Thanks @jennybc. I just sent the keynote to you via email.

[2016-08-08 18:21] jennybc commented on #138
Thanks @garrettgman, my fellow Keynote animal. At least I'll know exactly how to edit it!

[2016-08-14 18:44] #138 closed, assigned to jennybc

[2016-08-14 18:54] jennybc commented on #138
Oh @gvwilson I just noticed I failed to snip out just the bit you need from that PNG. Are you in a position to do that or shall I?

[2016-08-14 18:54] gvwilson opened #143 "Ship it"
Please add a :+1: or :-1: to this issue.

[2016-08-14 18:56] gvwilson commented on #138
I'm not sure what "just the bit you" is - can you please do that and go
ahead and push the change directly (no need for a PR)?

[2016-08-14 18:57] jennybc opened #144 "acknowledgements"
Seems like we need to acknowledge a few people. Shall we add such a section to the main manuscript or do it somewhere in this repo or ???

@gvwilson

[2016-08-14 18:59] jennybc commented on #138
@gvwilson OK done.

[2016-08-14 20:16] gvwilson commented on #144
:+1: to adding a section to the paper. Whose name should be in it?
- Steve Haddock
- Arjun Raj
- Stephen Turner
- Elizabeth Wickes

Please add others.

[2016-08-14 21:21] jennybc commented on #144
Garrett Grolemund

[2016-08-15 12:16] lexnederbragt commented on #143
Are we going to address the last fixme?

I'm OK either way.

[2016-08-22 15:35] #144 closed, assigned to nobody

[2016-08-22 15:36] gvwilson commented on #143
Thank you all - this will ship on Monday, August 29, 2016 unless someone demurs between now and then.

[2016-08-22 15:36] #143 closed, assigned to nobody

[2016-08-22 20:12] jennybc opened #145 "Git hosting"
Of course @gvwilson's threat to "ship it" made me re-read everything again. About to push some very minor fixes.

But I also plan to fiddle with this:

I want to rephrase the bit about free stuff now that GitHub provides unlimited free private repos to academics and nonprofits. It also feels like GitLab deserves a mention.

I will Just. Do. This. but invite input if anyone else cares about this at

[2016-08-23 16:06] jennybc opened #148 "Give instructions for updating the manuscript/website"
@gvwilson Here or in the repo itself, will you say exactly what you do when you update the manuscript/website (e.g. the actions associated with a commit like f28b7867068e88689a5e3be3a1ef47ad8b6c4692)? So others of us can do this as well. Or perhaps we could automate some bit(s) even more with travis? I am already doing `make pdf` but I think you must do more to update `index.md`?

[2016-08-23 18:08] jennybc opened #150 "Databases"
I just got some very useful feedback from @garrettgman via email. I know we are past the "ship it!" mark, so realize we will probably just close this issue w/o action. Even if we just address here and close, it will be nice to record this.

Anyone?

[2016-08-24 00:26] gvwilson commented on #148
I regenerated index.md using Pandoc, then hand-edited to get the damn
bibliographic citations right - Pandoc doesn't appear to have an option
to generate 100% GitHub Pages-compatible Markdown.

[2016-08-24 02:28] jennybc commented on #148
That is unfortunate. But OK then. In that case, will you take a look at my PR #149 and, if you're content, merge and regenerate PDF and `index.md`? That's all I've got.

[2016-08-24 02:28] #148 closed, assigned to gvwilson

[2016-08-24 02:38] gvwilson commented on #148
Yup.  I'm also exploring better automated LaTeX-to-GHP-Markdown solutions.
Thanks,
Greg

[2016-08-25 15:04] #145 closed, assigned to nobody

[2016-08-27 04:26] jennybc opened #151 "Change main URL"
Propose the URL that's associated with this repo be the web-by thing, instead of the PDF.

So this:

http://swcarpentry.github.io/good-enough-practices-in-scientific-computing/

instead of this:

https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/blob/gh-pages/good-enough-practices-for-scientific-computing.pdf

I think only @gvwilson can do this. Also presumes that the we

[2016-08-29 17:13] gvwilson commented on #151
Done.

[2016-08-29 17:13] #151 closed, assigned to nobody

[2016-09-02 18:44] jennybc opened #156 "git-lfs for data"
Recording/moving a twitter conversation here w/o 140 character limit.

From Bjørn Fjukstad (github @fjukstad, twitter [@fjukstad](https://twitter.com/fjukstad)) via [Twitter](https://twitter.com/Fjukstad/status/771714440869928960):

I replied with this link: [GitHub’s Large File Storage is no panacea for Open Source — quite the opposite](https://medium.com/@megastep/github-s-large-file-storage-is-

[2016-09-02 18:49] karthik commented on #156
Weighing in with minimal context but I agree completely. It holds other people (usually novices) to an unrealistic standard that we ourselves don't practice. It's good to separate
_here are things we do_
_here are things we would like to someday do if they work and people are willing to use them_

[2016-09-02 18:50] lexnederbragt commented on #156
Here is the 140 character-limited starting point:  https://twitter.com/lexnederbragt/timelines/771781985798946816

[2016-09-02 18:55] jennybc commented on #156
As @fjukstad points out on twitter, this could be added to "what we left out".

[2016-09-02 19:13] fjukstad commented on #156
Hey!

First off: Great read, lot's of good points to take home!

I agree that version control of datasets (especially intermediate data) isn't really a mainstream thing yet, but I believe that it's a step towards reproducible research. E.g. if you're analyzing RNA seq data through a pipeline with multiple stages. Keeping the intermediate data (and results) under version control would simplify the

[2016-09-02 19:19] jennybc commented on #156
I have RNA seq data in Git and on GitHub. Not the raw data, of course, but once I had it in a differential analysis pipeline. Yes it's awkward. But the datasets get progressively smaller as you move them through the analysis, so luckily the bits that are changing the most are also the smallest.

[2016-09-09 18:47] jennybc opened #161 "feedback from Titus Brown"
He alerted us via Twiter: https://twitter.com/ctitusbrown/status/774279820758753280

Comments are here:

https://via.hypothes.is/https://swcarpentry.github.io/good-enough-practices-in-scientific-computing/

In follow up tweets, asks:

cc @ctb

[2016-09-13 10:34] gvwilson opened #162 "Please leave feedback here"
We welcome feedback on this draft - please either:
1. Add a comment to this issue.
2. File a separate issue in this repository.
3. Submit a pull request proposing a change to `good-enough-practices-for-scientific-computing.tex` (by preference) or `index.md`.
4. [Email the authors](mailto:gvwilson@software-carpentry.org).

[2016-09-13 12:58] jshoyer commented on #162
I do not have a simple solution for these:
- I understand why you feel the need for two separate sets of recommendations
   for manuscript-writing tools,
   but it would be nice if you could alter Box 1 somehow
   so that points 6a and 6c do not (appear to) directly contradict each other.
- Recommendations for both a CITATION file (3d) and a PUBLICATIONS file (6b)
   are somewhat redundant.
- You

[2016-09-14 11:26] aurelg commented on #162
WRT citations, you might want to have a look at (and possibly add a reference to) the article [Software Citation Principles](https://peerj.com/preprints/2169v4/), although it has not been peer reviewed yet.

[2016-09-23 16:52] jkitzes commented on #161
This is mostly resolved in 94110dfaf9df86efe5438145e8a415ec3575b71a. Two lingering issues that I haven't changed, and I think could remain as is:
- Recommends generalizing our list of "permissive open source licenses" from "MIT, BSD, or Apache" to "OSI" or something like that, to include GPL and others. I don't know if this was a conscious decision to recommend only the "more free" ones, so I've l

[2016-09-23 17:00] ctb commented on #161
On Fri, Sep 23, 2016 at 09:52:05AM -0700, Justin Kitzes wrote:

This is a contentious enough issue that I would suggest putting in a
justification or comment for recommending the more-free ones. @jakevdp
has a nice blog post on it -- http://www.astrobetter.com/blog/2014/03/10/the-whys-and-hows-of-licensing-scientific-code/

I agree. Can't find the original text, but ISTR that at some point there
w

[2016-09-23 21:32] jkitzes commented on #161
Thanks @ctb, going to ping @gvwilson for thoughts on how to proceed on the first point.

[2016-09-23 22:09] jkitzes commented on #162
Thanks @jshoyer. On your points:
- Done by adding a big OR into the boxes to make it clear that you choose one of these or the other. While doing this, I also actually removed the former points 6b and 6d. I felt that they were too detailed for the user base of this manuscript, and also somewhat unclearly written.
- CITATION is how to cite this project, PUBLICATIONS would have been like a bibliogra

[2016-09-23 22:21] ttimbers commented on #162
Under the Project Organization section, the authors discuss what goes in the `src` directory, and recommend both files that perform the core analysis of the research, as well as controller or driver scripts. An example of the latter that I use are Makefiles, and my understanding of these (from tutorials and looking at what others are doing) is that they are often included in the projects root dire

[2016-09-25 18:22] gvwilson commented on #161
I took out the statement about all of our claims being evidence-based because the brouhaha over the last couple of years about reproducibility and p-hacking in science (esp. psych) has made me go back and look more critically at studies in software engineering (including those in "Making Software"). Long story short, I'm not as confident as I'd like to be that some of them would stand up to close

[2016-09-25 20:15] jennybc commented on #161
@gvwilson Sounds good. I think it's fine to state that we are speaking in good faith from personal experience and experience teaching hundreds / thousands of people in SWC and DC contexts.

[2016-09-26 17:22] jkitzes commented on #162
@ttimbers, I could see it either way. William Noble (paper we reference) puts his makefile in src, I do the same in my tutorial. For me, the arguement is that we are allowing for a more heterogeneous project (including manuscript files, for example) than a "traditional" software project. Thus to me it makes more sense to keep all the scripts together. Would a makefile in the root directory be expe

[2016-09-29 19:21] ttimbers commented on #162
Sounds like a reasonable explanation/justification for putting in `src`. I guess I really see it as not black/white, but a grey area of how complex the project is.

[2016-10-03 11:03] #162 closed, assigned to nobody

[2016-10-03 12:21] #161 closed, assigned to nobody

[2016-10-06 08:33] beroe opened #167 "SUBMIT IT ?!?"

[2016-10-06 10:34] gvwilson commented on #167
Two small PRs waiting to be merged and then yes, it's time to submit.

[2016-10-06 14:34] jennybc commented on #167
@gvwilson I can hopefully do my bit this afternoon!

[2016-10-06 17:36] #156 closed, assigned to nobody

[2016-10-06 17:37] #150 closed, assigned to nobody

[2016-10-06 19:35] #167 closed, assigned to nobody

[2016-10-06 22:09] jennybc commented on #167
I just read over the stuff that got merged / closed and feel fine about it FWIW.

[2016-10-21 01:26] kcranston opened #168 "Add ref to Data Storage paper"
If / when we are addressing reviewer comments, we might want to add a reference to the recent '10 Simple Rules for Digital Data Storage'.

http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005097

[2017-01-16 18:04] kcranston opened #169 "bin vs src"
We recommend that source code (anything edited directly) goes in `src/`and external scripts or compiled programs go in `bin/`. One of our reviewers found this confusing and inconsistent:

_"Restricting bin/ to external scripts and executables means that any directly interpreted scripts or .sql that are a part of the project would be executed from src/."_

Thoughts? Do we want to modify the text, o

[2017-01-16 18:49] kcranston opened #170 "references for Software section"
One reviewer points out that there are thousands of books and articles on how to write / structure source code and that we should be clear that this section reiterates existing advice. I am soliciting your favourite references for writing, organizing, and sharing scripts and programs.

[2017-01-16 22:01] jennybc commented on #169
Where can I find these reviews?

[2017-01-17 03:49] kcranston commented on #169
Greg posted the reviews to the gepsc mailing list.

[2017-01-17 17:55] jkitzes commented on #169
The above is certainly how I would do it. I can see the ambiguity to some degree, but putting an editable *.py file in `bin/`, for example, seems to make even less sense. I think that the justification was that anything that you can edit goes in `src` and anything that you don't edit (compiled files or external scripts) goes in `bin`, right? So the distinction we're making is about editability, no

[2017-01-17 17:58] jkitzes commented on #170
Off the top of my head, I would list *Clean Code* and *Beautiful Code*, then maybe a book on software design patterns (no particular favorite).

[2017-01-18 06:03] jennybc commented on #170
The Pragmatic Programmer?

[2017-01-18 12:50] lexnederbragt commented on #170
+1 to Clean Code (https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882), but not based on personal experience, only because it is used by a bioinformaticians group here.

[2017-01-18 12:57] gvwilson commented on #170
I'm less enamored of *Pragmatic Programmer* and *Clean Code* than I was a decade ago, primarily because their authors have often been in the "evidence? we don't need no stinkin' evidence!" camp.  And while I'm fond of *Beautiful Code*, I think it's too wide-ranging for our intended audience.

The one I keep coming back to is *[Code Complete](https://www.amazon.com/Code-Complete-Practical-Handbook-

[2017-01-30 08:41] tracykteal commented on #170
+1 for _Pragmatic Programmer_. @ctb and @ethanwhite might also have thoughts.

[2017-01-30 20:11] tracykteal opened #173 "check OpenRefine URL"
Put reference to OpenRefine in paper. Need to check that URL is correct.

[2017-01-30 20:13] tracykteal opened #174 "describe what functions are"
In the 'decompose programs into functions' section, I tried to describe what a function is, because I think people new to programming might not know. I think the description could be improved.

Also, it might be useful to give an example of a function, just one like 'calculate_celsius' or something.

[2017-01-30 20:15] tracykteal opened #175 "global variables"
How can we better describe global variables? Or should we discuss it at all? I don't think people new to programming know what they are or what the implications are. Could this be something in the 'what we didn't discuss'. Is there more to say about global variables?

[2017-01-30 20:16] tracykteal opened #176 "add repositories where people can find libraries"
Added a section on what libraries are and where the could be found. Update where people find libraries for different languages and potentially add links.

Section:

"Many languages catalog the libraries in a centralized
  source, for instance R has CRAN, Python has ... and Java has ..."

[2017-01-30 20:16] tracykteal opened #177 "example of 'runall' type file"
Should we add an example of a 'run all' type file? This is a big win that people don't often
 do, so I think an example would be helpful.

[2017-01-30 20:20] tracykteal opened #178 "more references"
One of the reviewers noted that we need more references in the software section. There are other areas where I know there are relevant papers. It would be helpful to include them as references, both for the readers to have pointers to more useful papers, and also to show that others have recommended similar strategies.

Ashley Shade put together a nice set of references on our [Computing Workflows

[2017-01-30 20:23] tracykteal opened #179 "links to lessons?"
Do we want to add links to any of the relevant Software Carpentry or Data Carpentry lessons. For instance we could link to the SWC github lesson in that section. Admittedly, it seems a little like self-promotion, but we have made it clear that we are affiliated with SWC/DC, so there is context. For SWC, we can link to DOIs, for Data Carpentry it would be harder. It might also then suggest that we

[2017-01-31 05:58] jennybc commented on #174
I put this in a nearby comment:

[2017-01-31 05:58] jennybc commented on #175
The popular concept of "need to know" basis might be helpful here. That the more you can compartmentalize things, the easier your life is.

[2017-01-31 06:00] jennybc commented on #176
The best URL for CRAN:

https://cloud.r-project.org

But humans might like to prefer to interact with a website like this, that enables more directed browsing and searching of the very same CRAN packages:

https://www.r-pkg.org

[2017-01-31 17:35] gvwilson commented on #173
I believe the URL is correct.

[2017-01-31 17:35] #173 closed, assigned to nobody

[2017-01-31 17:36] gvwilson commented on #179
I don't think we should link to particular lessons for risk of making it look like we're tooting our own horn - we have several refs to DC and SWC, which is enough for people to find what they need.

[2017-02-02 15:17] gvwilson opened #180 "Keep detailed analysis of double recommendation for manuscripts?"
See line 1205++ in manuscript - please add a comment to this issue saying whether you want to keep the detailed description or drop it.

[2017-02-02 15:30] gvwilson commented on #168
Added.

[2017-02-02 15:30] #168 closed, assigned to nobody

[2017-02-02 15:31] gvwilson commented on #169
@kcranston Please review language in current version

[2017-02-02 15:32] kcranston commented on #180
If the audience for this manuscript is the researchers who need to change their current practices to Good Enough Practices, then I think deleting the detailed description makes sense. The main purpose of this section seems to be convincing computational researchers who are well beyond 'good enough'.

Therefore, I vote for dropping it.

[2017-02-02 15:39] kcranston commented on #169
I don't see how the current text makes clear the distinction between editable = src and non-editable = src (as opposed to internal vs external files, or compiled vs non-compiled).

[2017-02-02 15:39] gvwilson commented on #170
Reference to PragProg now included.

[2017-02-02 15:40] #174 closed, assigned to nobody

[2017-02-02 15:40] #175 closed, assigned to nobody

[2017-02-02 15:40] #176 closed, assigned to nobody

[2017-02-02 15:40] gvwilson commented on #177
Please add an example if you have one.

[2017-02-02 15:40] gvwilson commented on #178
Added reference to Shade & Teal, added Prag Prog reference.

[2017-02-02 15:40] #178 closed, assigned to nobody

[2017-02-02 15:40] #179 closed, assigned to nobody

[2017-02-02 18:37] jkitzes commented on #180
I don't have a strong feeling either way, but given (if I'm remembering correctly) that the reviewers didn't call out this section specifically, I'm inclined to leave it in. Agree that it reads differently, but also agree that there's a subset of readers who will find it useful.

So mark me as a +0.25 for leaving in.

[2017-02-02 19:53] lexnederbragt commented on #180
I see the point, and wouldn't object too strongly when it goes, as long as there remains a sentence or two explaining that, paralleling the software section, we recommend two approaches. But I also agree with @jkitzes that should be careful changing a lot beyond what the reviewers ask for. So in all I'm also +0.25 for leaving it in.

[2017-02-03 12:53] lexnederbragt opened #181 "Always give more than one alternative for tools?"
I'm thinking about github+bitbucket, git+mercurial+subversion, etc

I haven't done a thorough search, but #172 adds Amazon and I suggest to also mention others there.

[2017-02-03 14:35] tracykteal commented on #181
Agree, we should at least add Azure, and maybe Google Cloud too.

[2017-02-03 16:49] tracykteal commented on #177
One might be:

This script combines
- running the command 'zip-script.py' that analyzes some data in a text file and creates multiple zip files.
- moving those newly created files into a 'saved_zip_files' directory
- unzipping all the newly created zip files, so that the person can view them

[code]

[2017-02-03 16:50] tracykteal commented on #177
I'm not sure if this is more helpful or more confusing though. If there was some generic example we were using throughout the paper, for instance calculating temperature, then it might make more sense.

[2017-02-03 17:12] tracykteal commented on #180
I think it speaks to tone. In other areas we do say that we primarily use something (like git) but doesn't come across in the same way as here. In my edit I tried to basically leave the recommendation but address the tone. Maybe we can hit that same middle ground with a different introduction before the quotes. Suggestion here:

``
Initially we recommended always using plain text in version contro

[2017-02-03 17:49] tracykteal commented on #180
I also just noticed we don't have anything about Dropbox in the Manuscripts section. Word documents with tracked changes in DropBox is a pretty standard practice, and DropBox does let you roll back to previous versions.

[2017-02-05 22:05] jkitzes commented on #180
I'm happy with any of the approaches raised above, personally. @gvwilson may jump in on Word+Dropbox, but I'd not that we eliminated the idea of suggesting Word fairly early on in the process (I had actually raised it then as well, but we decided not to go in that direction). This section was/is relatively contentious overall, relative to the rest of the paper, and I would lean away from making a

[2017-02-05 22:06] #169 closed, assigned to kcranston

[2017-02-06 13:41] #181 closed, assigned to nobody

[2017-02-11 22:48] #177 closed, assigned to tracykteal

[2017-02-13 13:18] #180 closed, assigned to nobody

[2017-02-15 14:51] kcranston commented on #170
Re-opening this, because we still have a [comment in the ms](https://github.com/swcarpentry/good-enough-practices-in-scientific-computing/blob/gh-pages/good-enough-practices-for-scientific-computing.tex#L449) requesting refs. I see the hunt reference attached to the specific recommendation in the previous sentence, but reviewer 1 is specifically asking for references to some of the "thousands of b

[2017-04-24 23:24] jkitzes opened #190 "What to do with footnotes"
@gvwilson et al. - I'm working on the final edits to our manuscript, and it looks like we have to make a decision re: footnotes. PLoS doesn't publish footnotes, so we need to either remove them or incorporate them into the text somehow.

I'd classify our footnotes into three groups - (a) URL's that should be made into references, since they lead to "content" (e.g., Arjun Raj's blog post, software

[2017-04-24 23:26] jkitzes opened #191 "Confirm affiliations"
@gvwilson, please either confirm that our affiliations as listed on the title page of the manuscript submission (not at the top of our own pdf but the title page that the submission system spits out) are correct, or upload them here for us to check.

You also might want to update your own email address in their system - they currently have it as gvwilson@software-carpentry.org.

[2017-04-24 23:30] jkitzes opened #192 "Upload all figure as separate tif or eps"
Reminder for @gvwilson on Manuscript Checklist #5 - "Please remove the embedded figures and upload them as .Tiff or .Eps files."

I believe in the context of a LaTeX submission, they probably just want us to upload the files separately in addition to being embedded in the pdf - although I would have thought that they would have had to be there already. I don't know how/why they would want us to re

[2017-04-24 23:32] jkitzes opened #193 "Check their edits to Fig 1"
@gvwilson - Reminder for Figure Requirements #1 - "Figure 1 has been modified to meet with formatting requirements. Please review the revised figure to ensure that it meets with your approval."

I believe that this would only be accessible to you when reviewing the manuscript submission, or the current proof.

[2017-04-25 00:20] gvwilson commented on #190
Hi Justin,

My votes are:

a) +1 to bib'ing them.

b) leave 'em out - people can google.

c) cut ruthlessly - very few jokes are funny twice.

Thoughts from others?

[2017-04-25 01:28] jennybc commented on #191
I'm interested to know how you're handling this @gvwilson and if it is even change-able.

Should it reflect affiliation and email at time of submission or now?

I am currently listed as:
University of British Columbia / jenny@stat.ubc.ca

But really should be:
RStudio, University of British Columbia / EMAIL

where I'm not entirely sure which email to use 🤔. UBC? Gmail? RStudio?

[2017-04-25 01:32] jennybc commented on #190
I can get happy with @gvwilson's plan, although I find his jokes funny every time 😃

[2017-04-25 10:05] lexnederbragt commented on #190
I'm OK with Greg's a) and c).

On b), don't we loose to much by dropping all links? We want to help not-too-savvy researchers, and assuming they'll "just" google stuff seems suboptimal. Can we make a box/table with links to resources mentioned in the paper?

[2017-04-25 10:49] gvwilson commented on #191
I'm leaving my info as it was at the time of authoring, and trusting
that the .forward from software-carpentry.org to my personal address
will keep working.

[2017-04-25 19:53] jkitzes opened #194 "Tell PLoS about our figure captions"
When responding to PLoS, please tell them (in response to their Manuscript Requirements # 6) that

"Our three figures have only labels and titles and do not have legends. In our submitted TeX file, the code for the figures (including their titles) appears immediately after the first reference to the figure in the manuscript text."

[2017-04-25 19:57] jkitzes commented on #190
Unfortunately we're at the proof stage (or something close to it), so I don't think we can add another major float like a box. I think what I'll do, unless there are objections, is to "bib" (a) and cut (b), but be liberal about what falls into category (a). So if Google would return any ambiguity, I'll make it a reference - but I think there's only one "GitHub" out there and we won't lose too much

[2017-04-25 20:20] jkitzes commented on #190
Quick update - I went through the footnotes more carefully, and it turns out there's only one Greg joke! (The first one about email.) So we'll leave that in I think. The other Greg-based footnotes were actually asides that are useful for beginners, so I think we should leave those in for sure.

Otherwise, we'll be adding about 3 or 4 additional references to URL's.

[2017-04-25 20:34] jennybc commented on #191
If it is easy, I'd like to be: RStudio, University of British Columbia / jenny@rstudio.com.
But it is also OK if affiliation stays 'as is'.

[2017-04-25 23:09] jkitzes commented on #170
@kcranston I take it we can close this one now given #189?

[2017-04-25 23:13] jkitzes opened #196 "Final proofread"
Based on the email that Greg got, it appears that this is our final opportunity to proofread the manuscript (i.e., PLoS doesn't have a "proof" stage where we'll look at the formatted document again). Someone with fresh eyes may want to proofread the final pdf for typo's, grammar-o's, etc.

[2017-04-25 23:14] jkitzes commented on #190
Closed in  	d2d2d1b.

[2017-04-25 23:14] #190 closed, assigned to jkitzes

[2017-04-26 14:57] gvwilson commented on #191
I will leave my affiliation as-is - see #197 for a PR that updates @jennybc's affiliation.

[2017-04-26 23:58] #170 closed, assigned to nobody

[2017-04-27 07:22] lexnederbragt commented on #191
Sorry to reopen, but is PLOS OK with such short affiliations? I usually have to add department info and address etc...

[2017-04-27 09:09] lexnederbragt opened #198 "Figure 3 does not have a `bin` directory"
Not sure whether we want to fix this at this stage, but we mention a set of directories for project organisation, and provide a figure as illustration, but the `doc` directory is not included in that figure.

[2017-04-27 09:11] lexnederbragt commented on #198
Oops, I should have read on. We explain why it doesn't have a `doc` folder in the main text... Closing.

[2017-04-27 09:11] #198 closed, assigned to nobody

[2017-04-27 09:50] lexnederbragt commented on #196
I'm done. Rereading it makes me proud again, it is a good piece of work!

[2017-05-02 23:04] gvwilson commented on #191
PLOS has been OK with short affiliations in the past.

[2017-05-02 23:04] #191 closed, assigned to jennybc

[2017-05-02 23:11] #192 closed, assigned to gvwilson

[2017-05-02 23:12] #193 closed, assigned to gvwilson

[2017-05-02 23:12] #194 closed, assigned to gvwilson

[2017-05-02 23:12] #196 closed, assigned to lexnederbragt

[2017-05-11 20:26] mfenner opened #200 "DOI in wrong format."
Use `https://doi.org/10.1371/journal.pone.0065848` instead of `http://doi.org/doi:10.1371/journal.pone.0065848` (remove `doi:` and use https). See https://twitter.com/adam42smith/status/862763827376664577 and https://www.crossref.org/display-guidelines/

[2017-05-11 20:28] mfenner commented on #200
Also, include a citation to software itself, as per https://www.force11.org/software-citation-principles:

[2019-03-12 14:29] den-run-ai commented on #156
I have not looked at pachyderm too closely, but listened the podcast about it and it has a lot of support for data engineering workflows. Anyway for machine learning workflow DVC looks more applicable than git-lfs or pachyderm:

https://github.com/iterative/dvc

Disclaimer: I have a bit of bias, because DVC is written in Python and by Russian-speaking developers.